{% import 'macros/view_inputs_semantic.html' as view_inputs_semantic %}

{% macro item_select(obj) %}
{% for input in obj._inputs  %}
{{ input|render_macro('view_inputs_semantic', 'item_select_' + input.jinja2_macro_name, obj._prefix) }}
{% endfor %}
{%- endmacro %}

{% macro item_update(obj) %}
{% for input in obj._inputs  %}
{{ input|render_macro('view_inputs_semantic', 'item_update_' + input.jinja2_macro_name, obj._prefix) }}
{% endfor %}
{%- endmacro %}

{% macro list_select(obj) %}
{%- endmacro %}

{% macro list_update(obj) %}
{%- endmacro %}

{% macro list_filter(obj) %}
{% for input in obj._inputs  %}{% if input.can_filter %}
<p>{{ input.name }}</p>
{% endif %}{% endfor %}
{%- endmacro %}

